<div class="signup-container">
  <h2 class="signup-title">Sign Up</h2>
  <form class="signup-form" (ngSubmit)="onSignup()">
    <div class="form-group">
      <label for="username" class="form-label">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" class="form-input" required>
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" class="form-input" required>
    </div>
    <button type="submit" class="signup-button">Sign Up</button>
  </form>
  <div class="switch-container">
    <p>Already have an account?</p>
    <a (click)="navigateToLogin()" class="switch-link">Log In</a>
  </div>
</div>
